<p>employee-list works!</p>
<div class="container">
    <table class="table table-striped">
      <tbody >
        <tr>
          <td>vishal</td>
          <td>rathod</td>
          <td> Application developer </td>
          <td><a class="btn">
            <i class="fa fa-edit"></i>
          </a>
          </td>
          <td><a class="btn">
            <i class="fa fa-trash"></i>
          </a>
          </td>
          </tr>
        <tr>
          <td>vishal</td>
          <td>rathod</td>
          <td>developer </td>
        </tr>
      </tbody>
    </table>
  </div>
  