<P>employee works!</P>
<div class="container">
    <div class="row">
    
    <div class="form-group col-md-6">
          <input type="text" class="form-control"  placeholder="Enter first name">
      </div>
      <div class="form-group col-md-6">
          <input type="text" class="form-control"  placeholder="Enter last name" >
      </div>
    
    </div>
    
    <div class="form-group">
        <input type="text" class="form-control"  placeholder="Enter designation" >
    </div>
    
      <div class="form-group"> 
          <button class="btn btn-success btn-lg btn-block" >Submit</button>
      </div>
    
      <div class="form-group"> 
          <button class="btn btn-warning btn-lg btn-block">reset</button>
      </div>
    </div>